/* .app {
  display: flex;
  align-items: center;
  justify-content: center;
  
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 0;
  background-color: whitesmoke;
}
.header {
  padding: 0.6rem;
  text-align: center;
}
.header h3 {
  letter-spacing: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header .result{
  display: flex;
  justify-content: space-around;
}
.header .result .red{
  color: red;
  font-size: larger;
}
.form {
  display: grid;
  grid-template-columns: 500px;
  gap: 0.6rem;
 background-color: aliceblue;
 border-radius: 8px;
 padding: 1.2rem;
 border: 1px solid gray;
}
.form input, .form select{
  padding: 0.4rem;
  font-size: 18px;
  border-radius: 5px;
}

.form button:hover {
  background-color: #0056b3;
}

ul .course-list{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style: none;
  background-color: antiquewhite;
}
.course-heading{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.course-heading li{
  list-style: none;
}

.delete-button {
  background-color: #ccdd;
  color: white;
  border: none;
  cursor: pointer;
  margin: 8px 12px;
}
.add-btn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1.4rem;
  width: 120px;
  margin-top: 1.5rem;
}
.add-btn button, .form button {
  background-color: blueviolet;
  padding: 0.6rem;
  border-radius: 16px;
  border: 1px solid #ccdd;
  cursor: pointer;
  width: 50%;
  color:aliceblue
}

